html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  /* font-family: 'Im혜민',serif;
  color: #000 */
  font-family: 'Roboto Slab', serif;
  background-color: rgb(248, 245, 245);
}

hr {
  border: none;
  width: 80%;
  height: 1px;
  background-color: #cf2121;
  margin-top: 20px;
  margin-bottom: 120px;
}

.logo-end1 {
  color: red;
  font-size: 1.1em;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.logo-end2 {
  font-size: 1.3em;
  animation: blink 1s linear infinite;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 1em;
  transition: all ease .5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.nav-name {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.7em;
  font-weight: 800;
  transition: all ease .5s;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding-top: 0;
  padding-bottom: 0; */
}

.nav-menu {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
}

.nav-menu li {
  display: inline;
  margin: 10px;
  /* margin-right: 0 12px; */
}

.nav-menu a:link,
.nav-menu a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration: underline red;
}

.nav-menu .nav-git{
  margin-right: 10px;
}

.nav-menu .nav-in{
  margin-left: 10px;
}

.article {
  padding: 5em 0;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  /* font-weight: 800; */
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
}

.article-name {
  font-size: 1.2em;
  text-decoration: underline red;
}

.article-mid1 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.article-mid2 {
  margin-top: 5px;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 150px;
  clear: both;
  padding-top: 60px;
}

.about_title {
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 50px;
  position: relative;
}

.about_title::after {
  content: '';
  display: block;
  width: 50%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.about-intro {
  font-size: 1.5em;
}

.tech {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 60px;
}

.tech_title {
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 20px;
  position: relative;
}

.tech_title::after {
  content: '';
  display: block;
  width: 35%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.tech_strong,
.tech_knowledgeable,
.etc {
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 20px;
}

.tech_strong_contents,
.tech_knowledgeable_contents,
.etc_contents {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.awards {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 60px;
}

.awards_title {
  font-size: 4em;
  font-weight: 800;
  position: relative;
}

.awards_title::after {
  content: '';
  display: block;
  width: 35%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.awards_contents {
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 20px;
}

.awards_contents-detail {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.award-badge {
  margin-right: 10px; 
}

.projects-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding-top: 80px;
  margin-top: 65px;;
  /* background-color: rgb(248, 245, 245); */
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: start;
}

/* .projects:hover {
  cursor: pointer;
} */

.project {
  display: flex;
  height: 450px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c0bfbf;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.project:hover {
  /* cursor: pointer; */
  border: 1px solid black;
  background-color: rgb(250, 248, 250);
}

.project-image {
  width: 100%;
  height: 350px;
  /* height: auto; */
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 100%;
}

.code-app {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* margin-top: 20px; */
}

.code-app .code, .code-app .app {
  /* padding: 8px 16px;  */
  border: 1px solid #cecece;
  border-radius: 4px;
  /* background-color: #888d89; */
  color: black;
  text-align: center;
  cursor: pointer;
  /* text-decoration: none; */
  font-weight: bold;
  width: 130px;
  align-items: center;
  /* text-decoration: underline red; */
  font-size: 1.1em;
}

.code-app .code:hover, .code-app .app:hover {
  /* color: red; */
  border: 1px solid black;
}

.project-title {
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  /* color: #fff; */
  /* overflow-y: hidden */
}


.project-description {
  /* display: none; */
  /* margin-top: 20px; */
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #797979;
  /* font-size: 0.5vw; */
}

.lang {
  margin: 0;
  font-size: 1.3em;
  font-weight: 800;
  /* margin-bottom: 20px; */
  word-spacing: 8px;
}

.project-1.load-bg .project-image {
  background-image: url(./imgs/1800_1.gif)
}

.project-2.load-bg .project-image {
  background-image: url(./imgs/2800_1.gif)
}

.project-3.load-bg .project-image {
  background-image: url(./imgs/2522_1.gif)
}

.project-4.load-bg .project-image {
  background-image: url(./imgs/board.gif);
}

.project-5.load-bg .project-image {
  background-image: url(./imgs/4870.png);
}

.project-6.load-bg .project-image {
  background-image: url(./imgs/logo_simple.png);
}

@media all and (max-width: 768px) {

  .nav {
    /* display: grid;
    grid-template-columns: auto; */
    align-items: center;
    font-size: 1em;
    justify-content: center;
  }

  .nav-name {
    transform: translate(calc(50% - 120px));
    float: inherit;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu li {
    display: none;
  }

  .nav-menu .nav-git,
  .nav-menu .nav-in {
    display: inline-block;
  }

  .article {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 10px;
  }
}

@media all and (max-width: 480px) {
  .nav {
    align-items: center;
    font-size: 1em;
    justify-content: center;
  }

  .logo-end1 {
    display: inline-block;
  }

  .logo-end2 {
    display: inline-block;
  }

  .article {
    font-size: 1.5em
  }

  /* .projects-container {
    height: 150px;
  } */

  .article {
    font-size: 1em
  }

  .about {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    clear: both;
  }

  .about_title {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 50px;
    position: relative;
  }

  .about-intro {
    font-size: 1.2em;
  }

  .tech {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    clear: both;
  }

  .tech_title {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 15px;
    position: relative;
  }

  .tech_strong,
  .tech_knowledgeable,
  .etc {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .tech_strong_contents,
  .tech_knowledgeable_contents,
  .etc_contents {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .awards {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    clear: both;
  }

  .awards_title {
    font-size: 3em;
    font-weight: 800;
    position: relative;
  }

  .awards_contents {
    font-size: 1.8em;
    /* font-weight: 800; */
    margin-bottom: 15px;
  }

  .awards_contents-detail {
    font-size: 1em;
    margin-bottom: 15px;
  }
}
